# Copier ce fichier vers .env.local (recommandé) ou .env à la racine du backend

# Supabase
SUPABASE_URL=https://qbfzuklaxeghmmkjxcpz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFiZnp1a2xheGVnaG1ta2p4Y3B6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjI4NzEzMSwiZXhwIjoyMDk3ODYzMTMxfQ.Iy2WYoTJasQEpMbgH4adCG6HboLcMyylvtEQr_-naEM

# Serveur
PORT=3009

# Documentation Swagger : http://localhost:3009/api/docs
